<%= form_for(buisiness) do |f| %>
  <% if buisiness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buisiness.errors.count, "error") %> prohibited this buisiness from being saved:</h2>

      <ul>
      <% buisiness.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
