<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buisiness.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @buisiness.city %>
</p>

<%= link_to 'Edit', edit_buisiness_path(@buisiness) %> |
<%= link_to 'Back', buisinesses_path %>
